:host {
  height: 100%;
  padding: 0 5px 0 0;
}

.add-tool-button {
  position: absolute;
  right: 5px;
  top: 1px;
  height: 22px;
  line-height: 18px;
}

.list {
  height: calc(100% - 24px);
  overflow-y: scroll;
  border-top: 1px solid #6C6D70;
  border-bottom: 1px solid #6C6D70;
}

.footer {
  height: 24px;
  line-height: 24px;
}