button {
  line-height: 0.5;
  height: 18px;
  width: 18px;
  font-size: 16px;
  padding: 0;
  font-weight: bold;
}

.labl {
  display: inline-block;
  font-weight: bold;
  width: 30px;
  text-align: center;
}