:host {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.main-header {
  height: 40px;
  color: #ededed;
  background-color: #434343;
}

.main-navigation {
  text-align: center;
  height: 30px;
  border-bottom: 1px solid #6C6D70;
  background-color: #bababa;
}

.main-navigation .nav, .main-navigation .nav li, .main-navigation .nav li a {
  height: 100%;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
}

.main-navigation .nav {
  display: inline-block;
}

.main-navigation .navbar-nav {
  float: none;
}

li {
  color: #333;
}

li a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
}

.active {
  color: #ededed;
  background-color: #6C6D70;
}

.main-body {
  height: calc(100% - 70px);
  background-color: #D7D7D8;
}