.options {
  color: #ededed;
  left: 0px;
  margin-top: -50px;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 50%;
}

h1 {
  margin-bottom: 20px;
}

a {
  color: #ededed;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #bcbcbc;
}