<div class="row content">
  <div class="col-xs-4 col-sm-3 col-md-2 section">
    <div class="panel">
      <div class="panel-heading text-center">Группы</div>
      <div class="panel-body groups">
        <div class="list-group">
          <div class="list-group-item" [ngClass]="{'active': selectedGroup === group.id}" *ngFor="let group of groupsList" (click)="selectGroup(group.id)">{{group.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-6 col-md-8 materials-section">
    <div class="panel">
      <div class="panel-heading text-center">Материалы</div>
      <div class="panel-body" (click)="selectMaterial($event)">
        <wb-res-item class="col-md-4 col-lg-3 res-item" *ngFor="let res of filteredMaterialsList" [info]="res" [selected]="selectedItem === res.id" id="wb-res-item-{{res.id}}"></wb-res-item>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2 section">
    <div class="panel">
      <div class="panel-heading text-center">Крафт</div>
      <div class="panel-body craft">
        <div class="head">
          <div class="icon res res-{{selectedMaterialIcon}}"></div>
          <div class="name">{{selectedMaterialName}}</div>
        </div>
        <div class="col-xs-12 in-storage text-right">{{itemsInStorage(selectedItem)}}<small> шт.</small></div>
        <div class="recipe-item" *ngFor="let res of selectedMaterialRecipe; let i = index;">
          <div class="col-xs-7 recipe-item-name">{{res.name}}</div>
          <div class="col-xs-2 pd text-right" [ngClass]="{'text-danger': neededResourcesForCraft(i) > itemsInStorage(res.id)}">{{neededResourcesForCraft(i)}}</div>
          <div class="col-xs-3 pd text-left">/{{itemsInStorage(res.id)}}</div>
        </div>
        <div class="ticker">
          <div class="col-xs-7 pd text-center">
            <ticker [minValue]=1 (change)="toCraftChange($event)"></ticker>
          </div>
          <div class="col-xs-5 text-center">
            <button type="button" class="btn btn-primary btn-xs" [disabled]="!canCraft" (click)="craft()">Создать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>