<div class="row content">
  <div class="groups-section">
    <div class="panel">
      <div class="panel-heading text-center">
        Группы
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item" [ngClass]="{'active': selectedGroup === group.id}" *ngFor="let group of groupsList" (click)="selectGroup(group.id)">{{group.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-sm-6 col-md-8 materials-section">
    <div class="panel">
      <div class="panel-heading text-center">Материалы</div>
      <div class="panel-body" (click)="selectMaterial($event)">
        <res-item  *ngFor="let res of filteredMaterialsList" [selected]="selectedItem === res.id"  [info]="res" id="res-item-{{res.id}}"></res-item>
      </div>
    </div>
  </div>
  <div class="craft-section">
    <div class="panel">
      <div class="panel-heading text-center">Крафт</div>
      <div class="panel-body craft">
        <div class="res-info">
          <div class="pic">
            <div class="icon res res-{{selectedMaterialIcon}}"></div>
          </div>
          <div class="res-name text-center">{{selectedMaterialName}}</div>
        </div>

        <div class="col-xs-12 pd5 bordered">
          <span>{{price}}€</span>
          <span class="pull-right">{{itemsInStorage(selectedItem)}}<small> шт.</small></span>
        </div>

        <div class="col-xs-12 pd5 recipe-label text-center" *ngIf="selectedMaterialRecipe.length">Рецепт</div>
        <div class="recipe-item" *ngFor="let res of selectedMaterialRecipe; let i = index;">
          <div class="col-xs-7 recipe-item-name">{{res.name}}</div>
          <div class="col-xs-2 np text-right" [ngClass]="{'text-danger': neededResourcesForCraft(i) > itemsInStorage(res.id)}">{{neededResourcesForCraft(i)}}</div>
          <div class="col-xs-3 np text-left">/{{itemsInStorage(res.id)}}</div>
        </div>

        <div class="col-xs-12 pd5 bordered actions" *ngIf="selectedMaterialRecipe.length">
          <div class="col-xs-7 np text-center">
            <ticker [minValue]=1 (change)="toCraftChange($event)" [value]="toCraft"></ticker>
          </div>
          <div class="col-xs-5 text-center">
            <button type="button" class="btn btn-primary btn-xs" [disabled]="!canCraft" (click)="craft()">Создать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>