:host {
  color: #ededed;
}

.menu-head {
  padding: 50px 50px;
}

.caption {
  margin: 0 auto;
  text-align: center;
  padding-top: 2px;
  padding-right: 28px;
}

.back {
  float: left;
  font-size: 2em;
  font-weight: bold;
}

.options {
  margin: 100px auto;
  max-width: 400px;
  text-align: center;
}

.start-button {
  margin-top: 30px;
}

button {
  max-width: 200px;
}

a {
  color: #ededed;
  text-decoration: none;
}

a:hover {
  color: #bcbcbc;
}