<div class="row">
  <div class="col-xs-12 menu-head">
    <a routerLink="" class="back">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <h3 class="caption">Новая игра</h3>
  </div>
</div>

<div class="row options">
  <form role="form" (submit)="startGame(username)" style="display: block;">
    <div class="form-group">
      <input type="text" name="username" tabindex="1" class="form-control" [(ngModel)]="username" placeholder="Имя" value="">
    </div>
    <div class="form-group start-button">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" tabindex="2" class="form-control btn btn-login">Начать</button>
        </div>
      </div>
    </div>
  </form>
</div>