:host {
  display: inline-block;
}

.wrapper {
  height: 82px;
  width: 82px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  margin: 2px;
  border: 1px solid #6C6D70;
  background: #bababa;
}

.content {
  margin: 4px;
  border: 1px solid #6C6D70;
  background-color: #fff;
}

.pic {
  text-align: center;
  padding-top: 4px;
  height: 50px;
  border-bottom: 1px solid #6C6D70;
}

.icon {
  margin: 3px;
  background-color: #fff;
  display: inline-block;
}

.labl {
  padding: 0 5px;
  line-height: 20px;
}
    
.selected {
  background: #6C6D70;
}