.wrapper {
  height: 70px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  margin: 2px;
  border: 1px solid #6C6D70;
  background: #bababa;
}

.head {
  display: flex;
}

.icon {
  margin: 3px;
  background-color: #fff;
  display: inline-block;
}

.name {
  display: inline-block;
  max-width: 190px;
  margin: 0 auto;
  padding: 3px;
}

.labl {
  padding-left: 3px;
  line-height: 1;
}

ticker {
  position: absolute;
  bottom: 10px;
  right: 6px;
}