<div class="row content">
  <div class="materials-section">
    <div class="panel">
      <div class="panel-heading text-center">
        Основные материалы
      </div>
      <div class="panel-body" (click)="selectMaterial($event)">
        <res-item  class="res-item" *ngFor="let res of materialsList" [selected]="selectedItem === res.id"  [info]="res" id="res-item-{{res.id}}"></res-item>
      </div>
    </div>
  </div>
  <div class="buy-section">
    <div class="panel">
      <div class="panel-heading text-center">
        Купить
      </div>
      <div class="panel-body">
        <div class="res-info">
          <div class="pic">
            <div class="icon res res-{{selectedMaterialIcon}}"></div>
          </div>
          <div class="res-name text-center">{{selectedMaterialName}}</div>
        </div>

        <div class="col-xs-12 pd5 bordered">
          <span>{{price}}€</span>
          <span class="pull-right">{{itemsInStorage}}<small> шт.</small></span>
        </div>

        <div class="col-xs-6 pd5 to-buy">Количество:</div>
        <ticker class="col-xs-6 pd5 to-buy" [minValue]=0 (change)="toBuyChange($event)" [value]="toBuy"></ticker>

        <div class="col-xs-12 pd5 bordered actions">
          <accept-reject class="pull-right" (onAccept)="onAccept($event)" [canAccept]="canBuy" [money]="toPay" (onDecline)="onDecline($event)" acceptName="Купить" rejectName="Отмена"></accept-reject>
        </div>
      </div>
    </div>
  </div>
</div>